.runner{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    padding: 25px;
}
.runner>div{
    width: 100%;
    height: 100%;
    margin: 0 25px;
    box-sizing: border-box;
    position: relative;
}

.runner .scorePanel{
    display: flex;
    padding: 0 20px;
    color: rgb(0, 183, 255);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.runner .scorePanel>div{
    color: red;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.runner .scorePanel>div>.lifeHeart{
    margin: 0 10px;
    font-size: 20px;
}

.runner .grid{
    background: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
    background-size: 100%;
    border: 1px solid greenyellow;
    box-sizing: border-box;
    width: 100%;
    height: 90%;

    display: grid;    
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(30, 1fr);
}
.runner .grid>div{
    position: relative;
}

.runner .grid .rocket{
    color: rgb(14, 187, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}
.runner .grid .misA{
    color: rgb(255, 171, 14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}
.runner .grid .buggy{
    color: rgb(224, 43, 43);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    animation-name: slidein;
    animation-duration: 1s;
}
.runner>div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.runner>div:last-child ul{
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #000;
    padding: 25px;
    border-radius: 25%;
}
.runner>div:last-child ul li{
    list-style: none;
    padding: 10px;
}

.runner .priControl{
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.runner .moves{

    display: flex;
    justify-content: center;
    align-items:baseline;
    padding: 20px 0;
}
.runner .moves>button:nth-child(2){
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    width: 105px;
    border-radius: 50%;
}

.notice{
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #00d9ff4b;
    backdrop-filter: blur(2px);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (min-width: 0px) and (max-width: 1100px){
    .runner>div:first-child{
        width: 70%;
        margin: 20px 0;
    }

    .runner>div:last-child{
        width: 30%;
        margin: 20px 0;
    }

    .runner{
        padding: 15px;
    }

    .runner .grid .misA{
        font-size: 18px ;
    }
    .runner .grid .buggy{
        font-size: 25px;
    }
}
@media screen and (min-width: 0px) and (max-width: 899px){
    .runner{
        flex-direction: column;
        padding: 10px;
        border: 1px solid grey;
    }
    .runner>div:first-child{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        box-sizing: border-box;
    }

    .runner>div:last-child{
        width: 100%;
        height: 20%;
        box-sizing: border-box;
    }

    .runner .moves>button:nth-child(2){
        font-size: 20px;
        height: 50px;
        width: 50px;

    }
    .runner .priControl{
        padding:0;
    }
    .runner .moves{
        padding: 0;
    }
    .help{
        display: none;
    }
}
@keyframes slidein {
    from {
      transform: translate(-50%, -80%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
